.slider_header {
    margin-bottom: 3rem;
    .title_btn,
    .archive-btn {
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 10rem;
        &.white {
            border-color: #fff;
        }
    }
    .title_btn {
        padding: 0.95rem 2.6rem;
        svg {
            width: 2.4rem;
        }
    }
    .archive-btn {
        padding: 0.95rem 1.3rem;
        margin-right: 1rem;

        &:hover {
            background-color: var(--color-primary);
            color: #fff;
            svg path {
                stroke: #fff;
            }
        }
        &.white {
            svg path {
                stroke: #fff;
            }
            &:hover {
                background-color: var(--color-white);
                color: #9DB9E0;
                svg path {
                    stroke: #9DB9E0;
                }
            }
        }
    }

    .button-next,
    .button-prev {
        width: 5rem;
        height: 5rem;
        border: 1px solid rgba(0, 0, 0, 0.1);

        svg {
            width: 1.4rem;
            path {
                stroke: rgba(0, 0, 0, 0.5);
            }
        }
        &:hover {
            border-color: #000;
            svg path {
                stroke: #000;
            }
        }
        &.white {
            border-color: rgba(255, 255, 255, 0.3);
            svg path {
                stroke: rgba(255, 255, 255, 0.8);
            }
            &:hover {
                border-color: #fff;
                svg path {
                    stroke: #fff;
                }
            }
        }
    }
    .button-next {
        transform: rotate(180deg);
    }
    @media (max-width: 768px) {
        .archive-btn {
            padding: 0.6rem;
            height: 3rem;
        }
        .title_btn {
            padding: 0.45rem 0.9rem;
            height: 3rem;
            svg {
                width: 1.2rem;
            }
        }
    }
}
