.home-best-toshaks{
    .title{
        strong{
            color: var(--color-primary);
        }
    }
    .description{
        width: 53rem;
    }
    .bottom-row{
        padding: 1rem 3rem;
        border-top: 1px solid rgba(0, 0, 0, 0.15);
    }
    .brands{
        gap: 7rem;
        img{
            width: 13.5rem;
        }
    }
    @media (max-width: 768px) {
        .description{
            width: 100%;
        }
        .bottom-row{
            padding: 2rem 1rem;
        }
        .brands{
            gap: 2rem;
            margin-top: 2rem;
            img{
                width: 100%;
            }
        }
    }
}