.hero-slider-wrapper {
    position: relative;
    .swiper-slide{
        background: radial-gradient(49.39% 109.5% at 25.49% 50.11%, #7113A3 0%, #33014E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        mix-blend-mode: screen;
        &.green{
            background: radial-gradient(49.39% 109.5% at 25.49% 50.11%, #7ACA8B 0%, #288F3E 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        }
        .slide-content{
            padding: calcRem(90) calcRem(82);
        }
        .slide-img{
            height: calcRem(285);
        }
        .hero-slider-content{
            .title{
                font-size: calcRem(44);
            }
            .description{
                font-size: calcRem(26);
            }
            .btn{
                margin-top: calcRem(20);
                padding: calcRem(9) calcRem(12);
                background-color: #fff;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.3);
                    color: #fff;
                }
            }
        }
    }
    .swiper-navigation{
        left: 0;
        bottom: calcRem(40);
        .swiper-button-next,
        .swiper-button-prev{
            width: calcRem(50);
            height: calcRem(50);
            background-color: rgba(255, 255, 255, 0.32);
            svg path{
                stroke: rgba(255, 255, 255, 0.5);
            }
            &:hover{
                background-color: #FFFFFF;
                svg path{
                    stroke: #500975;
                }
            }
        }
    }
}