.home-features {
    .features {
        padding: 0 calcRem(70);
        padding-bottom: calcRem(30);
        margin-top: calcRem(42);
        margin-bottom: calcRem(42);
        gap: calcRem(70);
        border: 1px solid rgba(255, 255, 255, 0.1);
        .feature-item {
            gap: calcRem(9);
            .icon {
                width: calcRem(146);
                height: calcRem(146);
            }
        }
        @media (max-width: 768px) {
            padding: 0 0;
            padding-bottom: 0;
            gap: calcRem(3);
            margin-top: calcRem(20);
            margin-bottom: calcRem(20);

            .feature-item {
                background-color: #00000005;
                width: 100%;
                padding-bottom: 1rem;
                .icon {
                    width: calcRem(50);
                    height: calcRem(50);
                }
            }
        }
    }
}
