.home-product-categories{
    .categories{
        margin-top: calcRem(30);
        .category-item{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.05);
                z-index: 1;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 145.06%);
                transform: matrix(-1, 0, 0, 1, 0, 0);
                transition: all .35s ease-in-out;
            }
            img{
                height: 100%;
            }
            .content{
                position: absolute;
                bottom: calcRem(30);
                right: calcRem(30);
                z-index: 2;
                .more{
                    margin-top: calcRem(10);
                    background-color: rgba(217, 217, 217, 0.24);
                    padding: calcRem(5) calcRem(14);
                    .arrow{
                        margin-right: calcRem(9);
                        svg{
                          width: calcRem(9);  
                          path{
                            stroke: #fff;
                          }
                        }
                    }
                }
            }
            &:hover{
                &::after{
                height: 20%;
                bottom: 0;
                top: 80%;
                background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
            }
                .more{
                    background-color: #fff;
                    color: #000;
                    svg path{
                        stroke: #000;
                    }
                }
            }
        }
    }
}
