.page-template-availability-shipping-method {
    .hero {
        background-color: #FDFAFF;
        padding-top: 4rem;
        padding-bottom: 6rem;
        .title {
            font-size: 4.2rem;
        }
        .line {
            margin-top: 12rem;
        }
    }
    .inventory-status_wrapper{
        .inventory-status_title{
            &::before{
                content: '';
                display: block;
                width: 1rem;
                height: 3rem;
                background-color: #5D0E87;
                margin-left: 1rem;
            }
        }
        .inventory-status_list{
            gap: 4rem 2rem;
            .inventory-status_item{
                border: 1px solid rgba(0, 0, 0, 0.15);
                .inventory-status_item_title{
                    padding: 1rem;
                    width: 40%;
                    &.purple{
                        background-color: rgba(93, 14, 135, 0.1);
                        color: #5D0E87;
                    }
                    &.blue{
                        background-color: #CED7FF;
                        color: #0B0072;
                    }
                    &.black{
                        background-color: #777777;
                        color: #fff;
                    }
                    &.red{
                        background-color: rgba(220, 39, 36, 0.1);
                        color: #DC2624;
                    }
                }
                .inventory-status_item_description{
                    padding: 1.7rem 3rem;
                }
            }
        }
    }
    .delivery_methods{
        .delivery_methods_title{
            &::before{
                content: '';
                display: block;
                width: 1rem;
                height: 3rem;
                background-color: #5D0E87;
                margin-left: 1rem;
            }
        }
        .delivery_methods_item_title{
            padding: .4rem 1rem;
            width: 24%;
        }
    }
    @media (max-width: 768px) {
        .hero {
            padding-top: 3rem;
            padding-bottom: 3rem;
            .title {
                font-size: 2rem;
            }
        }
        .inventory-status_wrapper{
            .inventory-status_list{
                gap: 1rem 1rem;
                .inventory-status_item{
                    .inventory-status_item_description{
                        padding: 0 1rem 1rem 1rem;
                    }
                }
            }
        }
        .delivery_methods{
            .delivery_methods_item_title{
                padding: .8rem 0;
                width: 100%;
            }
            .delivery_methods_item_description{
                padding: 0 2rem;
            }
        }
    }
}
