.page-template-blog-archive {
    .top_posts {
        .post {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.05);
                z-index: 1;
                background: linear-gradient(
                    0deg,
                    #000000 0%,
                    rgba(0, 0, 0, 0) 145.06%
                );
                transform: matrix(-1, 0, 0, 1, 0, 0);
                transition: all 0.35s ease-in-out;
            }
            h2,
            h3 {
                position: absolute;
                bottom: 2rem;
                right: 3rem;
                z-index: 2;
                font-weight: 400;
            }
            &:hover {
                &::after {
                    height: 20%;
                    bottom: 0;
                    top: 80%;
                    background: linear-gradient(
                        0deg,
                        #000000 0%,
                        rgba(0, 0, 0, 0) 100%
                    );
                }
            }
        }
    }

    .hot_tags {
        .tags_list {
            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
        .tag_item {
            background-color: #f8f8f8;
            padding: 0.5rem 1rem;
            color: #808080;
            white-space: nowrap;

            &:hover {
                background-color: #000;
                color: #fff;
            }

            &.active {
                background-color: #333;
                color: #fff;
            }
        }
    }
    .top_ads{
        > img, a{
            width: 50%;
        }
        a{
            img{
                height: 100%;
            }
        }
    }
    .sidebar {
        .widget {
            background: #fff;
            padding: 1.5rem;
            border: 1px solid #eee;

            .widget-title {
                border-bottom: 1px solid #eee;
                padding-bottom: 1rem;
            }

            .categories-list {
                li {
                    a {
                        &:hover {
                            color: rgba(0, 0, 0, 0.8);
                        }
                    }
                }
            }
        }
    }

    .main_posts {
        .blog-card {
            padding: 1rem;
            border: rgba(0, 0, 0, 0.03) 2px solid;
            .image-box {
                aspect-ratio: 16/10;
                width: 36rem;
                height: 100%;
                img {
                    transition: transform 0.5s ease;
                }
            }
            .content {
                padding: 2.5rem 0;
            }
            .bottom-content {
                .date {
                    padding: 0.5rem 0.8rem;

                    border: 1px solid rgba(0, 0, 0, 0.1);
                    svg {
                        width: 2.4rem;
                    }
                }
            }
            &:hover {
                border-color: #5d0e87;

                .read-more {
                    gap: 10px;
                }
            }
        }
        #load-more-posts{
            padding: 1rem 1.5rem;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            background-color: #fff;
        }
    }
}
