.page-template-purchase-conditions {
    .hero {
        .title {
            background: #7aca8b;
            font-size: 4.8rem;
            transform: rotate(-1.61deg);
            &::before,
            &::after {
                content: '';
                position: absolute;
                background: url(../../images/light_lines.svg) no-repeat 50%;
                background-size: cover;
                width: 3.8rem;
                height: 4.2rem;
                top: -3rem;
            }
            &::before {
                left: -3rem;
            }
            &::after {
                right: -3rem;
                transform: rotate(100deg);
            }
        }
        .line {
            margin-top: 12rem;
        }
    }
    .why_tanil {
        margin-top: 8rem;
        .description {
            width: 80%;
        }
        .cards {
            .card {
                padding: 2rem 0;
            }
            .card:nth-child(1) {
                .title {
                    color: #5d0e87;
                }
            }
            .card:nth-child(2) {
                .title {
                    color: #0c6fff;
                }
            }
            .card:nth-child(3) {
                .title {
                    color: #ff6200;
                }
            }
        }
    }
    .compare_purchase-conditions {
        > div.flex {
            width: 100%;
        }
        .conditions-table-wrapper {
            width: 100%;
            overflow-x: auto;
            align-self: stretch;
        }
        .conditions-table {
            width: 100%;
            min-width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            direction: rtl;
            thead tr th {
                background: rgba(93, 14, 135, 0.1);
                color: #5d0e87;
                padding: 2.3rem 1.6rem;
                text-align: center;
                font-size: 1.8rem;
                font-weight: 400;
            }
            tbody tr td {
                padding: 1rem 1.6rem;
                text-align: center;
                border-top: 1px solid rgba(0, 0, 0, 0.08);
                font-size: 1.6rem;
                color: #1f1f1f;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
    }
    .form-area {
        padding: 5rem 3.2rem;
        .contact-form {
            width: 50%;
            flex-shrink: 0;
            .wpcf7-form {
                font-size: 1.8rem;
                .asterisks {
                    color: #d10000;
                    top: -6px;
                    position: relative;
                }
                input.wpcf7-text,
                select.wpcf7-select,
                textarea.wpcf7-textarea {
                    width: 100%;
                    box-sizing: border-box;
                    background: #ffffff;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 0.8rem;
                    font-size: 1.8rem;
                    padding: 1.2rem;
                    margin-top: 1rem;
                    margin-bottom: 2rem;
                }
                .wpcf7-submit {
                    background-color: #2f2f2f;
                    border: 1px solid #2f2f2f;
                    color: #fff;
                    font-size: 1.8rem;
                    padding: 1.2rem 6.4rem;
                    border-radius: 0.8rem;
                    transition: all 0.5s ease;
                    &:hover {
                        background-color: #fff;
                        color: #2f2f2f;
                    }
                }
            }
        }
        .text-area {
            .button {
                padding: 1.6rem 3rem;
                border: 1px solid #000000;
            }
        }
    }
    @media (max-width: 768px) {
        .hero {
            .title {
                font-size: 2.2rem;
                padding: 1rem;
            }
        }
        .why_tanil {
            margin-top: 4rem;
            .description {
                width: 100%;
                padding: 0 1rem;
            }
            .cards {
                margin: 0 2rem;
            }
        }
        .compare_purchase-conditions {
            .conditions-table {
                width: 100%;
                min-width: 100%;
                border-collapse: collapse;
                table-layout: fixed;
                direction: rtl;
                thead tr th {
                    padding: 1rem 1rem;
                    font-size: 1rem;
                }
                tbody tr td {
                    padding: 1rem 1rem;
                    font-size: 1rem;
                }
            }
        }
        .form-area {
            padding: 5rem 2.5rem;
            padding-bottom: 2rem;
            .contact-form {
                width: 100%;
                margin-bottom: 0;
                .wpcf7-form {
                    font-size: 1.4rem;
                    input.wpcf7-text,
                    select.wpcf7-select,
                    textarea.wpcf7-textarea {
                        font-size: 1.4rem;
                    }
                    .wpcf7-submit {
                        width: 100%;
                    }
                }
            }
        }
    }
}
