.page-template-tanil-agency {
    .hero {
        background-color: #fdfaff;
        padding-top: 4rem;
        padding-bottom: 6rem;

        .title {
            font-size: 4.2rem;
        }

        .line {
            margin-top: 12rem;
        }
    }
    .get_branch_rules {
        .rule {
            .index {
                width: 6rem;
            }
        }
    }
    .get_branch_steps {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            border-top: 2px dashed #5d0e87;
            width: 100%;
            z-index: -1;
        }
        .step {
            border: 1px solid rgba($color: #000, $alpha: 0.2);
            padding: 1.5rem;
            width: 17%;
            background-color: #fff;
            &::after {
                content: '';
                position: absolute;
                background: url(../../images/arrow-circle-left.svg) no-repeat
                    50%;
                background-size: cover;
                width: 2.4rem;
                top: 50%;
                aspect-ratio: 1;
                transform: translate(-50%, -50%);
                left: -20%;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            .image_wrapper {
                background-color: #f7f7f7;
                padding: 1.2rem 0;
            }
        }
    }
    .form_download_btn {
        .btn {
            padding: 1rem 3rem;
        }
    }
    .page_blocks_title {
        background-color: rgba($color: #5d0e87, $alpha: 0.03);
        padding: 1.5rem;
    }
    .contact-form {
        width: 100%;
        .wpcf7-form {
            font-size: 1.8rem;
            .asterisks {
                color: #d10000;
                top: -6px;
                position: relative;
            }
            input.wpcf7-text,
            select.wpcf7-select,
            textarea.wpcf7-textarea {
                width: 100%;
                box-sizing: border-box;
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 0.8rem;
                font-size: 1.8rem;
                padding: 1.2rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
            .wpcf7-submit {
                background-color: #2f2f2f;
                border: 1px solid #2f2f2f;
                color: #fff;
                font-size: 1.8rem;
                padding: 1.2rem 6.4rem;
                border-radius: 0.8rem;
                transition: all 0.5s ease;
                &:hover {
                    background-color: #fff;
                    color: #2f2f2f;
                }
            }
        }
    }
    .request-branch-area {
        padding: 3.2rem 4.4rem;
        gap: 8rem;
        border-top: 1px solid rgba($color: #000, $alpha: 0.3);
        .cta-wrapper {
            width: 32%;
            img {
                width: 80%;
            }
        }
        @media (max-width: 768px) {
            padding: 3.2rem 1.4rem;
            .cta-wrapper {
                width: 100%;
            }
        }
    }
    .faqs {
        .faq-item {
            padding: 2.4rem 4rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            &.active {
                border-color: #5d0e87;
            }
            .faq-question {
                &::after {
                    content: '+';
                    font-size: 3rem;
                    line-height: 0;
                    font-weight: 100;
                }
            }
            .faq-answer {
                padding-top: 2rem;
            }

            &.active {
                .faq-question {
                    &::after {
                        content: '-';
                    }
                }
            }
        }
    }
    .branch_benefits {
        .benefit {
            border: 1px solid rgba($color: #000, $alpha: 0.2);
            padding: 1.5rem;
            background-color: #fff;
            .image_wrapper {
                background-color: #f7f7f7;
                padding: 3.2rem 0;
            }
        }
    }
    .call-us {
        padding: 4rem;
        .button {
            a {
                padding: 1rem 6rem;
            }
        }
    }
    @media (max-width: 768px) {
        .hero {
            padding-top: 3rem;
            padding-bottom: 3rem;
            .title {
                font-size: 2rem;
            }
        }
        .page_blocks_title {
            padding: 2.5rem 1.5rem;
        }
        .get_branch_rules {
            .rule {
                .index {
                    width: 4.8rem;
                    height: 3.7rem;
                }
            }
        }
        .get_branch_steps {
            &::before {
                top: 0px;
                border-bottom: none;
                border-right: 2px dashed #5d0e87;
                width: 0px;
                height: 98%;
            }
            .step {
                width: 70%;
                &::after {
                    width: 3rem;
                    top: calc(100% + 2.5rem);
                    transform: translate(-50%, -50%) rotate(-90deg);
                    left: 50%;
                }
            }
        }
        .contact-form {
            .wpcf7-form {
                font-size: 1.4rem;
                input.wpcf7-text,
                select.wpcf7-select,
                textarea.wpcf7-textarea {
                    font-size: 1.4rem;
                }
                .wpcf7-submit {
                    width: 100%;
                }
            }
        }
        .faqs {
            .faq-item {
                padding: 2rem 1rem;
            }
        }
        .call-us {
            padding: 4rem 1rem;
        }
    }
}
