// Product Card Styles
.product-card {
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.08);
  &:hover {
    border-color: #2F2F2F;
  }
  
  &__inner {
    padding: 1.2rem;
  }
  
  &__image {
    position: relative;
    padding-top: 73%;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      aspect-ratio: 300/217;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
    
    a:hover img {
      transform: scale(1.05);
    }
  }
  
  &__discount {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF0084;
    color: #fff;
    font-weight: 700;
    z-index: 1;
    font-size: 2.2rem;
    padding: .2rem .8rem;
  }
  
  &__content {
    padding: 1rem;
    flex-grow: 1;
  }
  
  &__title {    
    a {
      &:hover {
        color: #666;
      }
    }
  }
  
  &__rating {
    margin-top: .6rem;
    .star {
      color: #2F2F2F;
      margin-right: 2.5px;
      
      &--full:before {
        content: "★";
      }
      
      &--half:before {
        content: "★";
        position: relative;
        
        &:after {
          content: "☆";
          position: absolute;
          left: 0;
          width: 50%;
          overflow: hidden;
        }
      }
      
      &--empty:before {
        content: "☆";
      }
    }
  }
  
  &__price {
    
    del {
      color: rgba(0, 0, 0, 0.4);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: .5;
    }
    
    .amount {
      font-weight: bold;
    }
    
    .woocommerce-Price-currencySymbol {
      position: absolute;
      top: -1.8rem;
      left: 0;
      color: #AC8CBD;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  
  &__actions {
    margin-top: auto;
  }
  
  &__add-to-cart {
    margin-top: 10px;
    background-color: #f8f8f8;
    padding: 1.6rem 2rem;    
    svg {
      width: 2rem;
      height: 2rem;
    }
    
    &:hover {
      background-color: #2F2F2F;
      span{
        color: #fff;
      }
      svg path{
        stroke: #fff;
      }
    }
  }
}