// Product Card Styles
.product-card {
  background-color: #fff;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.08);
  &:hover {
    border-color: #2F2F2F;
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.2rem;
  }
  
  &__image {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
    
    a:hover img {
      transform: scale(1.05);
    }
  }
  
  &__discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e74c3c;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    z-index: 1;
  }
  
  &__content {
    padding: 1rem;
    flex-grow: 1;
  }
  
  &__title {    
    a {
      &:hover {
        color: #666;
      }
    }
  }
  
  &__rating {
    margin-top: .6rem;
    .star {
      color: #2F2F2F;
      margin-right: 2.5px;
      
      &--full:before {
        content: "★";
      }
      
      &--half:before {
        content: "★";
        position: relative;
        
        &:after {
          content: "☆";
          position: absolute;
          left: 0;
          width: 50%;
          overflow: hidden;
        }
      }
      
      &--empty:before {
        content: "☆";
      }
    }
  }
  
  &__price {
    
    del {
      color: #999;
      font-size: 0.85em;
      margin-right: 8px;
    }
    
    ins {
      text-decoration: none;
      color: #e74c3c;
    }
    
    .amount {
      font-weight: bold;
    }
    
    .woocommerce-Price-currencySymbol {
      position: absolute;
    top: -1.8rem;
      left: 0;
      color: #AC8CBD;
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  
  &__actions {
    margin-top: auto;
  }
  
  &__add-to-cart {
    margin-top: 10px;
    background-color: #f8f8f8;
    padding: 1.6rem 2rem;    
    svg {
      width: 2rem;
      height: 2rem;
    }
    
    &:hover {
      background-color: #2F2F2F;
      span{
        color: #fff;
      }
      svg path{
        stroke: #fff;
      }
    }
  }
}