.color-primary{
    color: var(--color-primary);
}
.color-black{
    color: #000;
}
.color-black-30{
    color: rgba(0, 0, 0, 0.3);
}
.color-black-40{
    color: rgba(0, 0, 0, 0.4);
}
.color-black-50{
    color: rgba(0, 0, 0, 0.5);
}
.color-black-60{
    color: rgba(0, 0, 0, 0.6);
}
.color-black-70{
    color: rgba(0, 0, 0, 0.7);
}
.color-black-80{
    color: rgba(0, 0, 0, 0.8);
}
.color-white{
    color: #fff;
}
.color-white-30{
    color: rgba(255, 255, 255, 0.3);
}
.color-white-50{
    color: rgba(255, 255, 255, 0.5);
}
.color-white-80{
    color: rgba(255, 255, 255, 0.8);
}
.color-white-70{
    color: rgba(255, 255, 255, 0.7);
}