.page-template-warranty {
    .hero {
        background-color: #FDFAFF;
        padding-top: 4rem;
        padding-bottom: 6rem;
        border-bottom: .3rem solid #DFDFDF;
        .title {
            font-size: 4.2rem;
        }

        .line {
            margin-top: 12rem;
        }
    }
    @media (max-width: 768px) {
        .hero {
            padding-top: 3rem;
            padding-bottom: 3rem;
            .title {
                font-size: 2rem;
            }
        }
    }
}