.page-template-warranty {
    .hero {
        background-color: #fdfaff;
        padding-top: 4rem;
        padding-bottom: 6rem;
        border-bottom: 0.3rem solid #dfdfdf;
        .title {
            font-size: 4.2rem;
        }

        .line {
            margin-top: 12rem;
        }
    }
    .top_boxes {
        .box {
            padding: 3rem;
        }
    }
    .warranty_terms {
        line-height: 1.5em;
        ul {
            list-style: disc;
            padding-right: 4rem;
        }
    }
    .page_blocks_title {
        background-color: rgba(var(--color-primary-rgb), 0.03);
        padding: 1.5rem;
    }
    .contact-form {
        width: 100%;
        .wpcf7-form {
            font-size: 1.8rem;
            .asterisks {
                color: #d10000;
                top: -6px;
                position: relative;
            }
            input.wpcf7-text,
            select.wpcf7-select,
            textarea.wpcf7-textarea {
                width: 100%;
                box-sizing: border-box;
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.15);
                border-radius: 0.8rem;
                font-size: 1.8rem;
                padding: 1.2rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
            .wpcf7-submit {
                background-color: var(--color-ink);
                border: 1px solid var(--color-ink);
                color: #fff;
                font-size: 1.8rem;
                padding: 1.2rem 6.4rem;
                border-radius: 0.8rem;
                transition: all 0.5s ease;
                &:hover {
                    background-color: #fff;
                    color: var(--color-ink);
                }
            }
        }
    }
    .warranty_faqs {
        .faq-item {
            padding: 2.4rem 4rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            &.active {
                border-color: var(--color-primary);
            }
            .faq-question {
                &::after {
                    content: '+';
                    font-size: 3rem;
                    line-height: 0;
                    font-weight: 100;
                }
            }
            .faq-answer {
                padding-top: 2rem;
            }

            &.active {
                .faq-question {
                    &::after {
                        content: '-';
                    }
                }
            }
        }
    }
    .story-lightbox-content {
        aspect-ratio: auto;
        width: 85%;
        height: 85%;
        background: transparent;
        box-shadow: none;
        .story-header, .story-caption{
            background: none;
        }
        .story-avatar {
            display: none;
        }
        img {
            object-fit: contain;
            width: auto;
        }
    }
    @media (max-width: 768px) {
        .hero {
            padding-top: 3rem;
            padding-bottom: 3rem;
            .title {
                font-size: 2rem;
            }
        }
        .page_blocks_title {
            padding: 2.5rem 1.5rem;
        }
        .contact-form {
            .wpcf7-form {
                font-size: 1.4rem;
                input.wpcf7-text,
                select.wpcf7-select,
                textarea.wpcf7-textarea {
                    font-size: 1.4rem;
                }
                .wpcf7-submit {
                    width: 100%;
                }
            }
        }
        .warranty_faqs {
            .faq-item {
                padding: 2rem 1rem;
            }
        }
    }
}
