.flex{
    display: flex;
}
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.none, .hidden{
    display: none;
}
.grid{
    display: grid;
}
@media (min-width: 768px) {
    .md\:flex {
        display: flex;
    }
    .md\:grid {
        display: grid;
    }
    .md\:none, .md\:hidden{
        display: none;
    }
}