.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.items-start{
    align-items: flex-start;
}
.items-center{
    align-items: center;
}
.item-center{
    align-items: center;
    justify-content: center;
}
.items-end{
    align-items: flex-end;
}
.flex-col{
    flex-direction: column;
}
.flex-col-reverse{
    flex-direction: column-reverse;
}
.flex-row{
    flex-direction: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-shrink-0{
    flex-shrink: 0;
}
.flex-1{
    flex: 1;
}

.self-end{
    align-self: flex-end;
}

.grid-cols-2{
    grid-template-columns: repeat(2, 1fr);
}
