.p-0{
    padding: 0;
}
.pt-20{
    padding-top: calcRem(20);
}
.pb-20{
    padding-bottom: calcRem(20);
}
.py-20{
    padding-top: calcRem(20);
    padding-bottom: calcRem(20);
}
.px-25{
    padding-left: calcRem(25);
    padding-right: calcRem(25);
}
.py-25{
    padding-top: calcRem(25);
    padding-bottom: calcRem(25);
}
.py-40{
    padding-top: calcRem(40);
    padding-bottom: calcRem(40);
}
.px-40{
    padding-left: calcRem(40);
    padding-right: calcRem(40);
}
