.yekan-13{
    font-size: calcRem(13);
}
.yekan-14{
    font-size: calcRem(14);
}
.yekan-15{
    font-size: calcRem(15);
}
.yekan-16{
    font-size: calcRem(16);
}
.yekan-18{
    font-size: calcRem(18);
}
.yekan-20{
    font-size: calcRem(20);
}
.yekan-22{
    font-size: calcRem(22);
}
.yekan-24{
    font-size: calcRem(24);
}
.yekan-25{
    font-size: calcRem(25);
}
.yekan-26{
    font-size: calcRem(26);
}


.thin{
    font-weight: 100;
}
.regular{
    font-weight: 400;
}
.bold{
    font-weight: bold;
}

.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}