.w-auto{
    width: auto;
}
.w-25{
    width: 25%;
}
.w-75{
    width: 75%;
}
.w-full, .w-100{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
@media (min-width: 768px) {
    .md\:w-25{
        width: 25%;
    }
    .md\:w-75{
        width: 75%;
    }
    .md\:w-100{
        width: 100%;
    }
}
