#main_footer {
    background: linear-gradient(180deg, #403f3f 0%, #1b1919 100%);
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-top: 4rem;
    .footer_logo {
        width: 19.1rem;
        margin-left: 1rem;
        object-fit: contain;
    }
    .footer_socials {
        gap: 0.3rem;
        .footer_social {
            width: 6.2rem;
            height: 6.2rem;
            svg path {
                stroke: #fff;
            }
            &:hover {
                background-color: #fff;
                svg {
                    fill: #000;
                }
            }
        }
    }
    .description {
        width: 46.6rem;
        padding: 1.6rem 0.8rem;
        box-sizing: border-box;
    }
    .list {
        .items{
            padding: 0.5rem 2rem;
        }
        .title{
            padding: 1rem 2rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        }
    }
    .tanil-address {
        width: 32rem;
        .item {
            .icon {
                width: 5.8rem;
                min-height: 5.8rem;
            }
            .text {
                padding-right: 1.7rem;
                padding-left: 1.7rem;
            }
            &.address .text{
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
    .copyright{
        padding-top: 3rem;
    }
    .border {
        border: 1px solid rgba(255, 255, 255, 0.08);
    }
    @media (max-width: 768px) {
        margin-bottom: 0;
        padding-top: 4rem;
        margin-top: 2rem;
        .footer_logo {
            margin: 0 auto;
            margin-bottom: 2rem;
            width: 14rem;
        }
        .description {
            width: 100%;
            padding: 1rem 1.7rem;
        }
        .desc_col{
            order: 0;
        }
        .tanil-address{
            order: 1;
            margin: 0 auto;
            width: 30rem;
        }
        .list .title, .list_1, .list_2{
            border: none;
        }
        .list .title{
            text-align: right;
        }
        .list_1, .list_2{
            width: 48%;
            margin-top: 2rem;
        }
        .list_1{
            order: 2;
        }
        .list_2{
            order: 3;
        }
        .footer_socials{
            order: 4;
            margin: 0 auto;
            transform: scale(0.7);
            margin-top: 2rem;
        }
    }
}
