// Product Gallery Styles
.product-gallery-container {
    // Thumbnails
    .product-gallery-thumbs {
        .swiper-wrapper {
            gap: 0.5rem;
        }
        .gallery-thumbs {
            height: 45.8rem;
            overflow: hidden;
            .swiper-slide {
                cursor: pointer;
                height: 11rem;

                .thumb-item {
                    height: 10rem;
                    padding: .5rem;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 10rem;
                        height: 10rem;
                        background-color: rgba(0, 0, 0, 0.6);
                        z-index: 1;
                    }
                    img {
                        width: 10rem;
                        object-fit: cover;
                    }
                }
                &.swiper-slide-thumb-active{
                  .thumb-item {
                    border-color: #000;
                    &::before {
                        display: none;
                    }
                  }
                }
            }
        }
    }

    // Main Gallery
    .product-gallery-main {
        .gallery-main {
            height: 43.7rem;
            width: 62.7rem;
            overflow: hidden;
            padding: 1rem;
            border: 1px solid rgba(0, 0, 0, 0.15);
            .swiper-slide {
                img {
                    max-height: 100%;
                    max-width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
