.consult-cta {
    padding: 1.4rem 0;
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    .divider {
        width: 0.6rem;
        height: 4rem;
    }
    .more-btn {
        padding: 1rem 3.4rem;
    }
    &:hover {
        .divider {
            background-color: #5d0e87;
        }
        .more-btn {
            color: #fff;
            background-color: #5d0e87;
        }
    }
    @media screen and (max-width: 768px) {
        padding: .45rem .95rem .45rem .55rem;
        .more-btn {
            padding: 1.2rem 1.5rem;
        }
    }
}
