.product-qa {
    .submit-question {
        padding-bottom: 2.4rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        .submit-button {
            padding: 1.2rem 6.4rem;
        }
    }
    .qa_list {
        .qa-list {
            .qa-item{
                padding: .4rem;
                border: 1px solid rgba(0, 0, 0, 0.15);
                min-height: 10rem;
                .qa-question-icon, .qa-answer-icon{
                    width: 9.4rem;
                    margin-left: 1.6rem;
                }
                .qa-question-icon{
                    background-color: #F7E9FF;
                }
                .qa-answer-icon{
                    background-color: #F3F3F3;
                }
            }
        }
    }
    #qa_form_wrapper {
        padding: 5.2rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        width: 50%;
        background-color: #fff;
        .comment-reply-title{
            margin-bottom: 1.4rem;
        }
        .comment-notes{
            display: none;
        }
        .qa-form-field {
            margin-bottom: 1.3rem;
            label {
                margin-bottom: 0.8rem;
            }
            textarea,
            input {
                resize: none;
                background-color: rgba(0, 0, 0, 0.03);
                border: 1px solid rgba(0, 0, 0, 0.05);
                outline: none;
                padding: 1.2rem;
                font-size: 1.8rem;
            }
        }
        .form-submit {
            margin-top: 2rem;
            .submit {
                padding: 1.2rem 6.4rem;
                background-color: var(--color-black);
                color: #fff;
                border: none;
                outline: none;
                cursor: pointer;
                font-size: 1.8rem;
            }
            .submit[disabled] {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
        .qa-form-message {
            margin-top: 1rem;
            &.error {
                color: #b00020;
            }
        }
    }
}