.product-summary{
    width: 51rem;
    .product{
        &-title{
            font-size: 3.6rem;
            font-weight: 700;
            margin-bottom: .4rem;
        }
        &-comments-ratings{
            margin-bottom: 1.8rem;
            color: #999999;
        }
        &-offer-countdown{
            .countdown-timer{
                background-color: rgba(255, 0, 132, 0.07);
                border: 1px solid #FF0084;
                color: #FF0084;
                height: 7rem;
                .countdown-timer__label{
                    font-weight: 400;
                }
            }
        }
        &-status{
            height: 7rem;
            background-color: rgba(93, 14, 135, 0.07);
            border: 1px solid var(--color-primary);
        }
    }
     .buttons-wrapper{
            height: 6.4rem;
            .product-price{
                border: 1px solid var(--color-primary);
            }
        }
    
}