.product-faqs{
    background-color: rgba(93, 14, 135, 0.07);
    padding: 4rem 0;
    .faq-items{
        width: 69rem;
        margin-left: 19.2rem;
        .faq-item{
            padding: 2.4rem 4rem;
            border: 1px solid rgba(0, 0, 0, 0.2);
            .faq-question {
                .faq-toggle {
                    font-size: 3rem;
                    line-height: 0;
                }
            }
            .faq-answer {
                padding-top: 2rem;
            }
            
            &.active {
            }
        }
    }
    .faqs-desc{
        width: 31.8rem;
        .faq-icon-text{
            text-align: justify;
        }
    }
}