.tab-contents{
    .tab-item{
        padding: 1rem 2rem;
        border-bottom: 2px solid transparent;
        &.active{
            border-color: #000;
            color: #000;
            background-color:   rgba(0, 0, 0, 0.03);
        }
    }
    .tab-content-item{
        display: none;
        &.active{
            display: block;
        }
    }
    #tab-technical-review-content{
        .technical-review-item{
            &.active{
                svg{
                    transform: rotate(180deg);
                }
            }
        }
        .spec-item{
            .spec-name, .spec-value{
                padding: 1.5rem;
                border: 1px solid rgba(0, 0, 0, 0.08);
            }
            .spec-name{
                width: 12%;
            }
            .spec-value{
                width: 88%;
            }
        }
    }
    #tab-production-content{
        .production-process-video{
            width: 100%;
            height: 500px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .video{
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5);
                }
            }
            
        }
    }
}