.testimonials{
    .testimonial-slider{
        width: 54rem;
        padding: 1.4rem 4.5rem 4rem 4.5rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        .swiper-navigation{
            .swiper-button-prev, 
            .swiper-button-next{
                padding: .8rem 1.4rem;
            }
        }
    }
    .customer_images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        .image{
            width: 12.3rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .img1 { grid-area: 1 / 1 / 3 / 2; }
        .img2 { grid-area: 1 / 2 / 2 / 3; }
        .img3 { grid-area: 2 / 2 / 3 / 3; }
    }
    .customer_video{
        width: 47.6rem;
    }
}